module.exports = {
  apps: [
    {
      name       : "speech-server",
      script     : "server.py",
      // point to the venv python so all packages are found
      interpreter: "/root/speech_comands/venv/bin/python3",
      cwd        : "/root/speech_comands",
      restart_delay : 3000,
      max_restarts  : 10,
      env: {
        PYTHONUNBUFFERED: "1",   // logs appear instantly in pm2 logs
      },
    },
  ],
};
